.div {
    color: #323338;
    background: linear-gradient(180deg, #F5F6F8 0%, rgba(245, 246, 248, 0) 67.54%);
    padding-top: 64px;
    width: 100%;
}

.div2 {
    background: url('../img/about/rectangle-69783771.png');
    height: 80px;
}