$font-size: 16px;
$padding: 10px;
$main-color: #4353FF;
$btn-height: 40px;
$text-color: #535768;
$transition: all .15s ease-in;

// -------------
$container: 1440px;
$container-padding: 40px;

$scrollbar-bg: #676767 !default;
$scrollbar-width: 7px !default;