$font-size: 16px;
$padding: 10px;
$main-color: #4353FF;
$btn-height: 40px;
$text-color: #535768;
$transition: all .15s ease-in;

// -------------
$container: 1440px;
$container-padding: 40px;

$scrollbar-bg: #676767 !default;
$scrollbar-width: 7px !default;

//------------- from ------------
$input-radius: 4px;
$input-height: 40px;
$input-border-color: #c5c7d0;
$input-border: 1px solid;
$input-padding: 8px;


// ------------- page ---------------

$p-size: 20px ;
$p-line-height: 34px !default;
$p-weight: normal !default;
$p-margin-bottom: 16px !default;